.home-section {
    width: 100%;
    height: 70vh;
    background-color: #c6538c;
    .home-content {
        text-align: center;
        padding-top: 27.8vh;
        .home-content-name {
            font: normal normal 500 4vh Aller;
            color: #FFFFFF;
        }
        .home-content-designation {
            font: normal normal 500 4vh Aller;
            color: #FFFFFF;
            padding-top: 1vw;
        }
    }
}

@media only screen and (max-width: 600px) {
  
}
  
@media only screen and (min-width: 600px) and (max-width: 992px) {
   
  }